a {
  cursor: pointer;
  color: var(--colour-secondary);
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover {
    color: var(--colour-primary);
    border-bottom: 1px solid var(--tertiary);
  }
}

nav a.active {
  background-color: var(--pink-4);
  color: var(--colour-textary-light);
}

a[itemprop="url"] {
  color: var(--cyan-4);

  &:hover {
    color: var(--cyan-2);
  }
}

nav[itemtype*="SiteNav"] a {
  color: var(--colour-secondary);

  &:hover {
    color: var(--colour-primary);
  }
}
