{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}
{% set tag_colours = load_data(path="content/tag_colours.json", format="json") %}

{% block extra_head %}
  <meta name="og:type" content="article" />
  <meta name="og:title" content="{{ page.extra.icon }} {{ page.title }}" />
  <meta name="og:description" content="{{ page.summary }}" />
  <meta name="og:image" content="https://sinclair.software/me.jpeg" />
  <meta name="og:article:author" content="Conor Sinclair" />
  <meta name="og:article:published_time" content="{{ page.date }}" />
  {% if page.taxonomies.tags %}
    <meta name="og:article:tag" content="{{ page.taxonomies.tags }}" />
  {% endif %}

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@_csinclair_" />
  <meta name="twitter:title" content="{{ page.extra.icon }} {{ page.title }}" />
  <meta name="twitter:description" content="{{ page.summary }}" />
  <meta name="twitter:image" content="https://sinclair.software/me.jpeg" />
{% endblock extra_head %}

{% block content %}
    {% block header %}
        {{ super() }}
    {% endblock header %}

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <span class="title icon">{{ page.extra.icon }}</span>
        <h1 itemprop="headline">{{ page.title }}</h1>
        <ul class="tags">
          {% if page.taxonomies.tags %}
            {% set tag_colours = load_data(path="content/tag_colours.json", format="json") %}
            {% for tag in page.taxonomies.tags %}
              <li style="--colour: {{ tag_colours[tag] | safe }}">
                <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
              </li>
            {% endfor %}
          {% endif %}
          {% if page.taxonomies.languages %}
            {% set lang_colours = load_data(path="content/tag_colours.json", format="json") %}
            {% for lang in page.taxonomies.languages %}
              <li style="--colour: {{ lang_colours[lang] | safe }}">
                <a href="{{ get_taxonomy_url(kind="languages", name=lang) | safe }}">{{ lang }}</a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
        <span class="muted">{{ post_macros::meta(page=page) }}</span>
    </header>
    <div itemprop="articleBody">
      {{ page.content | safe }}
    </div>

    {% block page_footer %}
        <footer>
            <hr>
            <p>
                {% if page.extra.author %}
                    Published by {{ page.extra.author }}
                {% elif config.extra.author %}
                    Published by {{ config.extra.author }}
                {% endif %}
                circa {{ page.date }}
            </p>
            {% block extra_footer %}
            {% endblock extra_footer %}
        </footer>
    {% endblock page_footer %}
</article>

{% endblock content %}
