.article {

} 

.articleHeader {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: var(--spacing-m);
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.article article {
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.articleHeader > h1 {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.date {
  display: flex;
  padding: var(--spacing-s); 
  position: relative;
  border-radius: var(--spacing-xs);
  border: 1px solid var(--muted-color);
  width: fit-content;
  justify-self: center;
}

.date > label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: var(--background-color);
}

.date > p {
  margin: 0;
  padding: var(--spacing-xxs) var(--spacing-s);
}
